:root {
  --with-card: 250px;
  --font-card: 15px;
  --padding-card-content: 4px;
}

/* .container {
  background-color: aliceblue;
  /* display: table-column; */
/* text-align: center; */
/* display: inline-block; */
/* } */

.card-product {
  padding: 3px;
  background-color: white;
  text-align: left;
  width: calc(var(--with-card) + 4px);
  margin: 20px;
  /* display: flex; */
  border-radius: 5px;
  border: 1px solid white;

  min-height: 430px;
  position: relative;

  &::hover {
     border-color: #ee4d2d;
  }

}



.price {
  color: #ee4d2d;
  font-size: 20px;
  margin-bottom: 16px;
}

.pagination {
  justify-content: center;
  display: flex;
}

.current {
  color: blue;
}

a,
a:hover {
  text-decoration: none;
  color: black;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.first {
  position: absolute;
  width: 100%;
  padding: 9px;
  z-index: 100;
}

.discount {
  background-color: red;
  padding-top: 1px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 13px;
  border-radius: 6px;
  color: #fff;
  opacity: 90%;
}

.wishlist {
  height: 30px;
  width: 30px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* position: absolute; */
  /* z-index: 100; */
}

img {
  /* height: 100%; */
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
  position: relative;
}



.recFju {
  color: #ee4d2d;
  font-size: 14px;
}



.product_name {
  /* display: inline-block; */
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 14px;
  /* margin: 0; */
  padding: var(--padding-card-content);
}

.product_details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.location {
  bottom: 4px;
  padding: var(--padding-card-content);
  color: darkgray;
  font-size: var(--font-card);
  position: absolute;
}

.sold {
  font-size: var(--font-card);
  padding: var(--padding-card-content);
}

.rating {
  color: #ee4d2d;
}

.price_detail {
  /* text-align: center; */
  padding-left: var(--padding-card-content);
}


.ZnrnMl {
  display: flex;
  align-items: center;
  padding: var(--padding-card-content);
}